*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
}

h1,h4,h5,h6{
    font-weight: normal;
}

ul, li{
    list-style: none;
}

/*Imagen de introduccion*/

div.title-section{
    background-attachment: fixed;
    background-image: url("../media/BatmanPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
    padding: 20% 0;
    text-align: center;
    width: 100%;
}

div.container{
    margin: 0 auto;
    width: 80%; 
}

div.subtitle{
    color: white;
    font-size: 1.6em;
    line-height: 1.6em;
}

div.title{
    color: white;
    font-size: 1.7em;
    margin: 0 15% 10px;
    margin-bottom: 10px;
}

div.title h1{
    font-weight: 600;
}

/*Contenido*/

div.text-section{
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

div.text-container{
    margin: 0 auto;
    width: 80%;
}

div.text-title{
    font-size: 1.67em;
    margin-bottom: 50px;
}

div.text-title p{
    font-weight: 550;
}

div.text-content{
    border-bottom: 3px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    line-height: 150%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: left;
}

div.content-left{
    display: flex;
    justify-content: center;
    float: left;
    margin: 0 50px;
    width: 50%;
}

div.content-left img{
    border-radius: 20px;
    height: 220px;
    width: 100%;
}

div.content-right{
    float: right;
    margin: 0 50px;
    width: 50%;
}

.titulo-texto{
    font-size: 1.4em;
    color: #165ca2;
}

.subtitulo-texto{
    color: #0d5e0d;
    font-size: 0.95em;
    font-weight: 600;
}

.informacion-texto{
    font-size: 0.95em;
    font-weight: 600;
}

/*Seccion my Thoughts*/

div.cuadros ul{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

ul.fila-cuadros img{
    border-radius: 10px;
    height: 175px;
}

ul.fila-cuadros img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .8s;
}

/*Seccion my System*/

.fondo-letra{
    background-color: #165ca2;
    color: white;
}

ul.lista-system li{
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.6em;
    margin: 10px 0;
}

div.boton-system{
    margin: 60px 0;
}

div.boton-system a{
    background-color: black;
    border-radius: 999px;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    padding: 30px 25px;
}



@media screen and (max-width: 980px){
    div.title-section{
        background-attachment: fixed;
        background-image: url("../media/Pinguino.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 310px;
    }

    div.text-container{
        margin: 0;
        width: 100%;
    }

    div.text-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.content-left{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1800px){
    div.title-section{
        background-attachment: fixed;
        background-image: url("../media/Pinguino.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}